body, body * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
    display: flex;
    flex-direction: column;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-user-select: none;
    user-select: none;
    width: 100%;
}

#olshky-output-content,
#olshky-buffer-content {
    font-size: 2em;
    min-height: 1em;
    white-space: pre-wrap;
}

#olshky-output-element {
    background-color: #eee;
    color: #333;
    flex: 1 1 auto;
    overflow: auto;
}

#olshky-output-content {
    padding: 0 1em;
}

#olshky-buffer-element {
    display: flex;
    flex: 0 0 auto;
}

#olshky-buffer-prompt {
    background-color: #aaffee;
    color: #666;
    flex: 0 0 auto;
    padding: 0.5em;
}

#olshky-buffer-content {
    background-color: #fff;
    color: #333;
    flex: 1 1 auto;
    padding: 0 1em 0 0.5em;
}

#olshky-input-element {
    background-color: #222;
    flex: 0 0 25%;
}

#olshky-input-element.active {
    background-color: #cf3;
    box-shadow: inner 0 0 5px #ff3;
}
